@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

/* navbar css start */

nav.navbar {
  transition: 0.8s ease;
  background-color: #101113 !important;
}

.navbar-brand{
    font-size: 1.6rem !important;
    transition: 0.8s ease;

}

.banner-image {
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh !important;
}

.navbar.scroll {
  background: crimson !important;
  padding: 8px 0px !important;
}

.navbar-brand.scroll{
    font-size: 1.3rem !important;
}

.nav-link:hover.scroll {
  color: crimson !important;
}
.nav-link:hover {
  text-decoration: overline !important;
  transition: 0.6s ease;
}
/* navbar css end */

/* home section start */

.rmbtn:hover {
  color: white !important;
  background: crimson !important;
}

/* home section end */

/* about css start*/

.about-line::before,
.about-line::after {
  border-top: 3px solid #212529;
}
.cvbtn {
  background: crimson !important;
}

.cvbtn:hover {
  background-color: white !important;
  color: crimson !important;
}
/* about css end */

/* common css start*/

.crimson {
  color: crimson !important;
}

.home,
.about,
.navbar,
.title,
.skills {
  font-family: "Ubuntu", sans-serif;
}

.bg-crimson {
  background: crimson !important;
}

.hire,
.rmbtn {
  color: crimson !important;
  border-color: crimson !important;
}

.hire,
.rmbtn:focus {
  box-shadow: none !important;
}

.line::before,
.line::after {
  display: inline-block;
  content: "";
  width: 27px;
  margin: 0 4px;
  transform: translateY(-2px);
}

.box{
    border-top: 5px solid crimson;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
    border-radius: 10px;
}


.dark {
  background-color: #111;
}
/* common css end */

/* skills css start */

.skills-line::after,
.skills-line::before {
  border-top: 3px solid white;
}

.hire:hover {
  color: white !important;
  background: crimson !important;
}

/* skills css end */


/* contact section start */
i {
  color: crimson;
}

.inp {
    border: none !important;
    border-bottom: 2px solid grey !important;
    border-radius: 6px !important;
}

.inp:focus{
    border-bottom: 3px solid crimson !important;
}

.inp:focus{
    box-shadow:none !important;
}


/* contact section end */




/* footer section start */
.fo-text {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: "poppins", sans-serif;
}
/* footer section end */
